/*Root style*/
.root{
    -fx-background-color: #0f324f;
}

/*Styling the border pane*/
.border-pane{
    -fx-background-color: #0f324f;
}

/*Styling the Tabs, Tab-pane, Tab-header, Tab-header-area, Tab-header-background*/
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #092033;
}
.tab{
    -fx-background-color: #0f324f;
    -fx-pref-width: 200;
}
.tab:selected{
    -fx-text-base-color: #6ec5ff;
    -fx-font-weight: bolder;
  }
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 200;
   }
.tab-pane{
    -fx-background-color: #0f324f;
    -fx-text-base-color: #cfff70;
    -fx-focus-color: transparent;
}
.tab:hover{
    -fx-text-base-color: #6ec5ff;
    -fx-transition: .2;

}



/*Styling the toolbar*/
.toolbar{
    -fx-background-color:  #012c33;
}

/*Upload button style*/
.upload-bttn:hover{
    -fx-background-color:  #024559;
    -fx-text-base-color: #012c33;
}

.scroll-pane > .viewport {
   -fx-background-color: #024559;
   -fx-border-radius: 5px;
}